@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {overflow:hidden;scroll-behavior:smooth;margin:0;padding:0;box-sizing:border-box;font-family: 'Familjen Grotesk', sans-serif;/*transition:0.25s all ease;*/list-style:none;text-decoration:none;overflow-y:hidden;overflow-x:hidden;}
:root {
    /* Dark */
    --snow-dark-darkest:#03045e ;
    --snow-dark-dark:#023e8a;
    --snow-dark-medium:#0077b6;
    --snow-dark-light:#0096c7;
    /* Medium */
    --snow-medium:#00b4d8;
    /* Light */
    --snow-light-lightest:#caf0f8;
    --snow-light-medium:#ade8f4;
    --snow-light-dark:#90e0ef;
    --snow-light-darkest:#48cae4;

}